$white: #fff;
$black: #000;
$corpBlack: #3e372c;
$darkestGray: #333;
$darkGray: #787871;
$midGray: #999;
$lightGray: #ebebeb;
$lightestGray: #f4f4f4;
$blue: #053f7a;
$blueGray: #bbc9c9;

$red: #F91942;
$turquoise: #008489;
$altGray: #e6e6e6;
$lightBlack: #484848;

$mainColor: $red;
$link: $mainColor;
$linkHover: $white;
$text: $white;
$textDark: $black;
$accent: $mainColor;
$bg: $white;
$bgSecondary: $mainColor;
$bgDark: $black;

$base: 40px;
$radius: 20px;

$head: 60px;
$xxl: 36px;
$xl: 24px;
$lg: 21px;
$md: 18px;
$sm: 16px;
$xs: 14px;
$xxs: 12px;

$duration: 0.3s;
$easing: cubic-bezier(.785, .135, .15, .86);
$easingLight: ease;

$mainFont: 'Montserrat', sans-serif;
$altFont: 'Fira Sans', sans-serif;
