footer.footer
    .-separator
    .container
        .row
            .col-24.col-md-22.offset-md-1
                .row
                    .col-24.col-md-8
                        h2.footer__logo coba
                        p.footer__text We are the best quality students accomodation in the city center of Barcelona. Get more than a room, get an incredible coliving experience with us.

                    .col-24.col-md-8
                        h3.footer__subtitle Coliving Buenos Aires
                        ul.footer__list
                            li.footer__item
                                a(href="/home") Home
                            li.footer__item
                                a(href="/contact") Contact
                            li.footer__item
                                a(href="/houses") Houses
                            li.footer__item
                                a(href="#") Coba policy
                            li.footer__item
                                a(href="/faq") Faq's
                            li.footer__item
                                a(href="#") Cancellation policy
                    .col-24.col-md-8
                        h3.footer__subtitle Contact
                        p.footer__contact-text info@coba.com
                        p.footer__contact-text (+54) 989 8866 258
                        p.footer__contact-text
                            |Open Hours:
                            br
                            |Monday to Friday
                            br
                            |From 9.00h to 16.00h
                    .col-24
                        ul.footer__social
                            li
                                a(href="#")
                                    i.fa.fa-facebook
                            li
                                a(href="#")
                                    i.fa.fa-instagram
                            li
                                a(href="#")
                                    i.fa.fa-envelope-o