extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.contact
        .container
            .row
                .col-24.col-md-20.offset-md-2
                    .row
                        .col-24.col-md-10
                            h3.contact__title Information
                            p.contact__text Somos el mejor proveedor de alojamiento de calidad para estudiantes en el centro de Buenos Aires. Reserva más que una habitación, consigue una experiencia inolvidable de coliving con nosotros!
                            .contact__group
                                .contact__icon
                                    img(src="/images/contact/phone-icon.png")
                                .contact__wrapper
                                    h3.contact__wrapper-title Teléfono
                                    p.contact__wrapper-text + 54 9 11 28557759
                                    p.contact__wrapper-text + 54 9 11 33386485

                            .contact__group
                                .contact__icon
                                    img(src="/images/contact/message-icon.png")
                                .contact__wrapper
                                    h3.contact__wrapper-title E-mail
                                    p.contact__wrapper-text info@coba.com
                        .col-24.col-md-14
                            form.contact__form
                                h3.contact__form__title Contacto
                                .row
                                    .col-24.col-md-12
                                        input.contact__form__input(type="" placeholder="Nombre y Apellidos")
                                    .col-24.col-md-12
                                        input.contact__form__input(type="" placeholder="Teléfono")
                                    .col-24
                                        input.contact__form__input(type="" placeholder="Email")
                                    .col-24
                                        input.contact__form__input(type="" placeholder="Fecha de Nacimiento")
                                    .col-24.col-md-12
                                        input.contact__form__input(type="" placeholder="Check In")
                                    .col-24.col-md-12
                                        input.contact__form__input(type="" placeholder="Check Out")
                                    .col-24
                                        textarea.contact__form__input.contact__form__input--textarea(type="textarea" placeholder="Mensaje")
                                    .col-24.col-md-12
                                        button.contact__form__button(type="submit") Send
