header.header
    .container
        .row
            .col-24
                .header__container-top
                    a.header__logo(href="/")
                        img(src="/images/logo.png")
                    .header__wrapper
                        .header__language
                            a(href="#") es 
                            | / 
                            a(href="#") en
                        .header__hamburguer
                            span
                            span
                            span
    nav.header__nav
        ul.header__list
            li.header__item
                a(href="/") home
            li.header__item
                a(href="/houses") houses
            li.header__item
                a(href="/faq") faq's
            li.header__item
                a(href="/contact") contact
            li.header__item
                a(href="/book-now") book now


