header.header
    .container
        .row
            .col-24
                .header__container-top
                    a.header__logo(href="/")
                        img(src="/images/logo.png")
                    .header__wrapper
                        .header__language
                            a(href="#") es 
                            | / 
                            a(href="#") en
                        .header__hamburguer
                            span
                            span
                            span
    nav.header__nav
        ul.header__list
            li.header__item
                a(href="/") home
            li.header__item
                a(href="#houses") houses
                ul.header__sublist
                    li.header__subitem
                        a(href="/pellegrini") Pellegrini
                    li.header__subitem
                        a(href="/laprida") Laprida
                    li.header__subitem
                        a(href="/thames") Thames
                    li.header__subitem
                        a(href="/anexo") Anexo
            li.header__item
                a(href="/faq") faq's
            li.header__item
                a(href="/contact") contact
            li.header__item
                a(href="/book-now") book now
    
    a.header__facebook-button(href="https://www.facebook.com/COBA-Colivingba-113753259977558/" target="_blank")
        i.fa.fa-comment-o
        p Chat With Us


