extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.faq
        .container
            .row
                .col-24.col-md-20.offset-md-2
                    .row
                        .col-24
                            h2.faq__title Faq's
                        .col-24
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title ¿Qué incluye el precio de alquiler?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title El precio de alquiler incluye:
                                    ul.faq__answer__list
                                        li.faq__answer__item Tu habitación totalmente amueblada y el uso de todas las equipadas y amuebladas.
                                        li.faq__answer__item Todos los Servicios: agua, electricidad y gas.
                                        li.faq__answer__item Impuestos.
                                        li.faq__answer__item Gastos de comunidad.
                                        li.faq__answer__item Uso ilimitado de Internet WiFi. De alta Velocidad
                                        li.faq__answer__item Limpieza de la casa.
                                        li.faq__answer__item Sábanas y toallas limpias.
                                        li.faq__answer__item Uso ilimitado de todos los electrodomésticos.
                                        li.faq__answer__item Asistencia personalizada durante toda tu estancia.
                                        li.faq__answer__item Servicio de reparación y mantenimiento.
                                        li.faq__answer__item Teléfono de emergencias 24h.



                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         