extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.faq
        .container
            .row
                .col-24.col-md-20.offset-md-2
                    .row
                        .col-24
                            h2.faq__title Faq's
                        .col-24
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title What's included in the total price?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title The price includes:
                                    ul.faq__answer__list
                                        li.faq__answer__item A fully furnished room.
                                        li.faq__answer__item Common areas fully equipped.
                                        li.faq__answer__item Water, gas and electricity services.
                                        li.faq__answer__item Shared expenses
                                        li.faq__answer__item Free WiFi
                                        li.faq__answer__item Cleaning service of common areas (two times a week)
                                        li.faq__answer__item Use of all electrodomestics
                                        li.faq__answer__item Personalized assistance during your whole stay
                                        li.faq__answer__item A phone used for emergency calls (24 hs available)
                                        li.faq__answer__item Clean blankets and towels
                                        li.faq__answer__item Repair and maintenance services

                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Do I have to pay any additional charge?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title No extra charge, interest rate or commission is added to the total price. We provide you with:
                                    ul.faq__answer__list
                                        li.faq__answer__item Room pack (sheets, duvet and pillows)
                                        li.faq__answer__item Bath pack (a pair of towels)
                                        li.faq__answer__item Weekly supply of cleaning products 
                                        li.faq__answer__item Weekly supply of hygienic products such as toilet paper, kitchen paper, hand soap, dish soap, garbage bags, laundry soap, etc.

                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Do I have to pay any guarantee deposit?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title The total guarantee deposit cots 500 USD.

                                    p.faq__answer__text For booking you must pay half of the total guarantee deposit: 250 USD (the payment must be done through PayPal).
                                    p.faq__answer__text Once you pay the 250 USD, your reservation will be confirmed immediately.
                                    p.faq__answer__text The rest of the guarantee deposit (250 USD) should be paid the moment after you check-in. 

                                    ul.faq__answer__list
                                        li.faq__answer__item Total guarantee deposit
                                        li.faq__answer__item Booking deposit  
                                        li.faq__answer__item Paid through paypal after you check in
                                        li.faq__answer__item Total guarantee deposit  500 USD 

                                    p.faq__answer__text The guarantee deposit will be returned once your stay at the residence is over (as long as you have followed the rules and returned things from the room and common areas in proper conditions) . 
                                    p.faq__answer__text The guarantee deposit will be returned through the same method of payment used at first.
                                    p.faq__answer__text If you don't show up on the agreed date of your arrival, and if we don’t receive notification by email within 48 hours prior to the arrival date established, the company reserves the right to cancel your reservation (with no reimbursement).
                                    p.faq__answer__text The transfer costs are responsibility of the customer

                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Booking cancellation policy
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title If you cancel a reservation, the following penalties will be applied:
                                    ul.faq__answer__list
                                        li.faq__answer__item 1. Canceling a reservation up to one month before the arrival date will have a penalty of 100 USD.
                                        li.faq__answer__item 2.  Canceling a reservation during the 30 days prior to your arrival date will be penalized with the total payment of the reservation (250 USD).
                            
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Which documents do I need to make a reservation?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title To book a room you will need a copy of your identity card (MERCOSUR) or passport (EUROPEAN).
                                    p.faq__answer__text In addition, you must fill out a form with all your personal data and details about your stay, and say that you agree to accept the terms and conditions established by the residence.


                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Can I take animals?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title We love animals but unfortunately, they are not allowed in our apartments for a matter of hygiene and respect to other residents.
                            
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Can I bring guests to the apartment?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title You can bring visitors during the day (from 09:00 am to 10:00 pm). You will be entirely responsible for your visitors’ behaviour, as well as for the damages they may cause at the residence
                            
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Who will I be sharing the residence with?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Students who are part of Baires Family Embassy.
                                    p.faq__answer__text We have several residences in Buenos Aires. We hold meetings and BBQs among all residents. Residents are young and international students who come to study or make interns to Buenos Aires.
                                    p.faq__answer__text We welcome people from all over the world: Germany, France, England, Brazil, Holland, etc.,
                                    p.faq__answer__text We have students from the UCA, University of Palermo, University of San Andres, Di Tella, UBA. 
                                    p.faq__answer__text Many of them study and work as well, so we understand and take into consideration our residents’ needs and requirements.
                            
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title What happens when something at the apartment does not work?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Just send us an email and our maintenance team will solve the problem.
                            
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Who is in charge of cleaning the apartment?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title Our team is in charge of cleaning the common areas every week (this service is already included within the total price).
                                    p.faq__answer__text However, it is your responsibility to keep the common areas of the apartment in good conditions, both in terms of hygiene and order. 
                                    p.faq__answer__text You will collaborate with the other residents to take out the garbage, use the dishwasher correctly, clean the utensils used for cooking and eating, keep the sink and dining room in good conditions. You will have to keep your room clean and tidy. If you need, we can offer you an extra cleaning service ( you just have to ask for it ).
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Can I invite friends over to sleep at the apartment?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title You can invite one guest who has to sleep in your room. He/she can only stay for a maximum of X consecutive nights, as long as you obtain our permission send by email.
                                    p.faq__answer__text You will have to inform the other residents that you will bring a guest to the apartment. If the guest stays more nights, we will charge you 15USD each extra night that he/she stays. Having guests without our permission will be penalized with a fee of US $ 50 for each night that he/she stayed at the residence without our consent.
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title What happens if I leave before the agreed date?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title There is a minimum stay of 4 months required. Leaving the residence before the 4 months will entail the total loss of your deposit.
                                    p.faq__answer__text One month before you do the check out, you should inform us the day of your departure by email.
                            
                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Way of payment?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title The payment is always in cash.
                                    p.faq__answer__text The monthly fee must be paid in advance, between the 1st and 5th of the current month.
                                    p.faq__answer__text Fees bear the amount of one month or half a month (regardless of the date in which the guest arrives or leaves the residence).
         

                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Can I pay in pesos?
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title You can pay in Argentinian pesos. In this case, the current exchange rate will be applied (the exchange rate used will be the one indicated by the Economy section of the Argentinian newspaper on the exact day of payment). (<a href="http://www.ambito.com/economia/mercados/monedas/dolar/" target="_blank">financial sphere</a>).
                                    p.faq__answer__text This is the only type of change we accept. You can not pay in EUROS.

                            a.faq__container(href="#")
                                .faq__question
                                    h3.faq__question__title Arrivals and departures
                                    button.faq__question__button
                                        span.-horizontal
                                        span.-vertical
                                .faq__answer
                                    h3.faq__answer__title The formalization of the contract will take place on the arrival date, at the department where you will be staying in the future (from Mondays to Fridays, from 9am to 7pm).
                                    p.faq__answer__text Arrivals between 8am and 9am, between 7pm and  9pm, or during the weekend have an extra cost of 20 USD. 
                                    p.faq__answer__text On the day of your departure you must leave the room during the morning ( before 12.00pm ). 
                                    p.faq__answer__text Arrivals should be arranged with previous notice by email. 
                                    p.faq__answer__text It is very important that you send us the information about your arrival, at least 7 days in advance so that our team can have the time to organize and prepare everything for you.
                                    p.faq__answer__text The date of departure should be announced one month in advance.

         