extends _layouts/base

block content
    main.home
        section.home__hero
            .home__hero__image
                img(src="/images/home/hero-1.jpg")
            .home__hero__image-mobile
                img(src="/images/home/hero.jpg")
            .container
                .row
                    .col-24.col-md-16.offset-md-4.home__hero__col
                        .home__hero__container
                            h2.home__hero__title Coliving Buenos Aires
                            p.home__hero__text
                                |Coliving with like minded people in Buenos Aires. 
                                br
                                |All bills included.
                            a.home__hero__button(href="/book-now") Book now 
        section.home__interstitial
            .container
                .row
                    .col-24.col-md-18.offset-md-3
                        p.home__interstitial__text Rent a room in Buenos Aires with COBA. Find the best room for rent in a shared apartment in Buenos Aires. In COBA we are specialists in accommodation for students and young professionals, and we will help you find the room that best suits your needs.

        section.home__accordion
            .container
                .row
                    .col-24.col-md-22.offset-md-1
                        .home__accordion__wrapper
                            span
                            button.home__accordion__button
                                span.-horizontal
                                span.-vertical
                            span
                    
        section.home__description
            .container
                .row
                    .col-24.col-md-22.offset-md-1
                        .row
                            .col-24
                                .home__description__title Why students choose us?
                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/location-icon.png")
                                    h3.home__description__subtitle Perfect location!
                                    p.home__description__text All our rooms are in the center of Buenos Aires. Choose your neighborhood and rent a room in Buenos Aires that is well connected to metro, bus, universities, benchmark companies, supermarkets, shops, restaurants, bars and more.

                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/phone-icon.png")
                                    h3.home__description__subtitle We got your back!
                                    p.home__description__text COBA is more than rooms for rent, is Coliving Buenos Aires! Our team will help you with everything you need before arriving to the city, from the moment you rent a room until the day of your departure. Any help you may need, count with us!

                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/check-icon.png")
                                    h3.home__description__subtitle Everything is ready for you!
                                    p.home__description__text All our apartments are fully furnished and equipped. You will find everything you need to live comfortably and with no worries. Rent a single or shared room in Buenos Aires with us, bring your stuff and start living the COBA experience.

                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/globe-icon.png")
                                    h3.home__description__subtitle New friends from all around the world!
                                    p.home__description__text As soon as you land in Buenos Aires, you will have new friends. With us, choosing a room means sharing your apartment with young people like you from all over the world. Rent a furnished room in Barcelona with us and start the adventure!

                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/badge-icon.png")
                                    h3.home__description__subtitle Cleaning and Maintenance included!
                                    p.home__description__text All our apartments have weekly cleaning service of the common areas. The maintenance service is also included in the price. Rent a room in Buenos Aires and we will take care of everything else!

                            .col-24.col-md-8
                                .home__description__wrapper
                                    .home__description__icon
                                        img(src="/images/home/checklist-icon.png")
                                    h3.home__description__subtitle All-inclusive service!
                                    p.home__description__text Coliving in Buenos Aires with us is enjoying an all-inclusive service, without surprises. Consult all our additional services to complete your stay and learn all the advantages of choosing a room with COBA.

        section.home__houses#houses
            .container
                .row
                    .col-24.col-md-16.offset-md-4
                        .row
                            .col-24.col-md-20.offset-md-2
                                h2.home__houses__title Houses
                                p.home__houses__text These are all the rooms for rent in Barcelona that we have available at this moment. Search and choose the one you like the most!
                            .col-24.col-md-12
                                a.home__houses__wrapper(href="/pellegrini")
                                    .home__houses__image
                                        img(src="/images/home/pellegrini.png")
                                    .home__houses__content
                                        p.home__houses__content-subtitle House
                                        h3.home__houses__content-title pellegrini

                            .col-24.col-md-12
                                a.home__houses__wrapper(href="/thames")
                                    .home__houses__image
                                        img(src="/images/home/thames.png")
                                    .home__houses__content
                                        p.home__houses__content-subtitle House
                                        h3.home__houses__content-title thames

                            .col-24.col-md-12
                                a.home__houses__wrapper(href="/laprida")
                                    .home__houses__image
                                        img(src="/images/home/laprida.png")
                                    .home__houses__content
                                        p.home__houses__content-subtitle House
                                        h3.home__houses__content-title laprida

                            .col-24.col-md-12
                                a.home__houses__wrapper(href="/anexo")
                                    .home__houses__image
                                        img(src="/images/home/anexo.png")
                                    .home__houses__content
                                        p.home__houses__content-subtitle House
                                        h3.home__houses__content-title anexo                                    

