extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.book-now
        .container
            .row
                .col-24.col-md-20.offset-md-2
                    .row
                        .col-24.col-md-16
                            h2.book-now__title Book now
                            p.book-now__text To reserve the room, You will need to send us a copy of your Passport.
                            p.book-now__text Also, you will need to fill in a form with all your personal and stay information and accepting our terms and conditions. And you must pay 250 USD by PAYPAL.
                            p.book-now__text With the payment of your reservation you will have your room insured.
                            p.book-now__text At the time of check in you will have to pay the other half of the deposit. To be able to complete the total deposit. before you make the reservation You have to ask if we have rooms available. If you need more information you can see the FAQS or send a email to staff.
                            p.book-now__text In paypal for you are going to see the way to make the reservation.
                            p.book-now__text The deposit will be returned to you in the same way it was paid, once your stay is finished if there is nothing broken in the apartment or in the room and if you have followed the norms of coexistence.
                            p.book-now__text Transfer costs will be borne by the customer
                        .col-24.col-md-8
                            .book-now__container
                                .book-now__wrapper
                                    .book-now__icon
                                        img(src="/images/book-now/paypal-icon.png")
                                    a(href="https://paypal.com", target="_blank").book-now__wrapper-text PayPal Payment

                                .book-now__wrapper
                                    .book-now__icon
                                        img(src="/images/book-now/document-icon.png")
                                    a(href="#" data-modal="open" data-target="politics").book-now__wrapper-text COBA Policy

                                .book-now__wrapper
                                    .book-now__icon
                                        img(src="/images/book-now/document-icon.png")
                                    a(href="#" data-modal="open" data-target="cancellation").book-now__wrapper-text Cancellation Policy
                        .col-24.col-md-14
                            form.book-now__form
                                h3.book-now__form__title Reservation form
                                .row
                                    .col-24.col-md-12
                                        input.book-now__form__input(type="" placeholder="Name")
                                    .col-24.col-md-12
                                        input.book-now__form__input(type="" placeholder="Phone")
                                    .col-24
                                        input.book-now__form__input(type="" placeholder="Email")
                                    .col-24
                                        input.book-now__form__input(type="" placeholder="Brithdate")
                                    .col-24.col-md-12
                                        input.book-now__form__input(type="" placeholder="Check In")
                                    .col-24.col-md-12
                                        input.book-now__form__input(type="" placeholder="Check Out")
                                    .col-24
                                        textarea.book-now__form__input.book-now__form__input--textarea(type="textarea" placeholder="Menssage")
                                    .col-24.col-md-12
                                        button.book-now__form__button(type="submit") Pay your reservation


    .coba-modal
        .coba-modal__backdrop(data-modal="close")
        .coba-modal__container
            button.coba-modal__close(data-modal="close")
                span
                span
                
            .book-now__legal(data-content="politics")
                h3 Do I have to pay any guarantee deposit?
                p The total guarantee deposit cots 500 USD. For booking you must pay half of the total guarantee deposit: 250 USD (the payment must be done through PayPal).
                p Once you pay the 250 USD, your reservation will be confirmed immediately. The rest of the guarantee deposit (250 USD) should be paid the moment after you check- in.
                p The guarantee deposit will be returned once your stay at the residence is over. (as long as you have followed the rules and returned things from the room and common areas in proper conditions).
                p The guarantee deposit will be returned through the same method of payment used at first.
                p If you don&#39;t show up on the agreed date of your arrival, and if we don’t receive notification by email within 48 hours prior to the arrival date established, the company reserves the right to cancel your reservation (with no reimbursement).
                p The transfer costs are responsibility of the customer
                p Pets are not allowed.
                p Smoking is not allowed.

            .book-now__legal(data-content="cancellation")
                h3 Booking cancellation policy
                p If you cancel a reservation, the following penalties will be applied:
                p 1. Canceling a reservation up to one month before the arrival date will have a penalty of 100 USD.
                p 2. Canceling a reservation during the 30 days prior to your arrival date will be penalized with the total payment of the reservation (250 USD).

                